<script>
	function updateProgress(message, percentage)
	{
		if (!window.progressBarActive)
		{
			$("#mod-progress").modal("show");
			window.progressBarActive = true;
		}

		$("#progressBarParagraph").text(message + " " + percentage + "%");
		$("#ProgressMessage").width(percentage + "%");

		if (percentage === "100")
		{
			$("#mod-progress").modal("hide");
			window.progressBarActive = false;
		}
	}

	function hideProgress()
	{
		if (window.progressBarActive)
		{
			$("#mod-progress").modal("hide");
			window.progressBarActive = false;
		}

		$("#progressBarParagraph").text("");
		$("#ProgressMessage").width("0%");
	}
</script>

<div class="modal fade in" id="mod-progress" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<div class="text-center">
					<div id="result" style="font-size: 1.1em; padding-bottom: 5px">
						<p id="progressBarParagraph"></p>
					</div>
					<div style="width: 30%; margin: 0 auto; display:none;">
						<div id="progressbar" style="width: 300px; height: 15px"></div>
						<br />
					</div>
					<div id="ProgressStripe" class="progress progress-striped active" style="position:relative; top:10px; width:100%;">
						<div id="ProgressMessage" class="progress-bar progress-bar-info" style="width: 100%; border:none;"></div>
					</div>
					<br />
				</div>
			</div>
		</div>
	</div>
</div>