

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script>
    var URL = {
        TESTIMONAILASLIST: '@Url.Action("getTestimonailasList", "Dashboard")',
        APPROVEREVIEW: '@Url.Action("ApproveReview", "Dashboard")',
        DENYREVIEW: '@Url.Action("DenyReview", "Dashboard")',
    };
</script>
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Dashboard
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-animation">

        <div class="card mb-3">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>Reviews </div>

            </div>
            <div class="card mb-3">
                <hr />
                <div id="divValidationMsg">
                </div>

                <div class="card-body table-responsive">
                    <div id="tblReviewsList">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setupReviewList();
    });

    function fnApproval(obj) {
        var attemptId = obj.id;
        $.confirm("Do you want to approve this review ? After approval, which will be available in testimonails section",
            function () {
                $.postData(
                    URL.APPROVEREVIEW,
                    { AttemptId: attemptId },
                    function () {
                        setupReviewList();
                    });

            },
            function () { }
        );
    }
    function fnDenyApproval(obj) {
       var attemptId = obj.id;
        $.confirm("Do you want to deny these questions ? After denial, which will not be available in testimonials",
            function () {
                $.postData(
                    URL.DENYREVIEW,
                    { AttemptId: attemptId },
                    function () {
                        setupReviewList();
                    });

            },
            function () { }
        );
    }
    function setupReviewList() {
        $.getDataTableList(URL.TESTIMONAILASLIST, $("#tblReviewsList"));
    }


</script>