@using OnlineMasterG.CommonFramework

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<script>
    var URL = {
        GREETINGSLIST: '@Url.Action("GreetingsList", "Greetings")',
        DELETEGREETING: '@Url.Action("DeleteGreeting", "Greetings")',
    };
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/CustomScript/Greetings.js?v=" + AppInfo.Version)"></script>



<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Greeting Popup
                </div>

            </div>

        </div>
    </div>

    <div class="tabs-animation">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
                    Add Greeting Popup
                </div>

            </div>
            <div class="no-gutters row">
                <div class="col-md-12">
                    @using (Html.BeginForm("SaveGreetings", "Greetings", FormMethod.Post, new { id = "frmGreetings", autocomplete = "off", @enctype = "multipart/form-data" }))
                    {
                        <div class="card-body table-responsive">
                            <table style="width: 100%;" id="example12" class="table table-hover table-striped table-bordered">

                                <tbody>
                                    <tr>
                                        <th> Greeting Popup</th>
                                        <th> Action</th>

                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="file" id="uploadGreetings" class="btn-shine btn btn-focus" name="postedFile" accept=".jpg, .jpeg, .png" required> 
                                        </td>
                                        <td>
                                            <button class="btn btn-info" type="button" id="btnSave">Save </button>
                                        </td>
                                    </tr>
                                
                                </tbody>


                            </table>
                        </div>
                    }
                </div>
            </div>

        </div>

        <div class="card mb-3">

            <hr />
            <div id="divValidationMsg">
            </div>


            <div class="card-body table-responsive">
                <div id="dvGreetingsList"></div>


            </div>
        </div>

    </div>
</div>