@using OnlineMasterG.CommonFramework
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script>
    var URL = {
        CATEGORYLIST: '@Url.Action("CategoryList", "CategoryMaster")',
        DELETECATEGORY: '@Url.Action("DeleteCategory", "CategoryMaster")',
    };
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/CustomScript/CategoryMaster.js?v=" + AppInfo.Version)"></script>



<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Category Master
                    <!--  <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                    </div> -->
                </div>
            </div>

        </div>
    </div>

    <div class="tabs-animation">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
                    Add Category
                </div>
                <!-- <div class="btn-actions-pane-right text-capitalize">
                    <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm">View All</button>
                </div> -->
            </div>
            <div class="no-gutters row">
                <div class="col-md-12">
                    @using (Html.BeginForm("SaveCategory", "CategoryMaster", FormMethod.Post, new { id = "frmCategoryMaster", autocomplete = "off" }))
                    {
                        <div class="card-body table-responsive">
                            <table style="width: 100%;" id="example12" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Select Course</th>
                                        <th>Category Name</th>
                                        <th style="width:50px;">Order Sequence</th>
                                        <th style="width:50px;">Is Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DropDownList("CourseName", (SelectList)ViewBag.CourseList, "Please Select", new { @id = "CourelistId",@class="form-control",@required="required" })
                                        </td>
                                        <td>
                                            <input type="hidden" id="hdfCategoryId" />
                                            <input type="text" required id="txtCategoryName" name="CategoryName" class="form-control" value="">

                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="txtSequence" min="0" value="">

                                        </td>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" id="chkIsActive" style="text-align:center" />
                                                <span class="default"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <button class="btn btn-info" type="button" id="btnSave">Save </button>
                                            <button class="btn btn-alternate" id="btnClear" type="button">Clear </button>
                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    }
                </div>
            </div>

        </div>

        <div class="card mb-3">

            <hr />
            <div id="divValidationMsg">
            </div>


            <div class="card-body table-responsive">
                <div id="dvCategoryList"></div>


            </div>
        </div>

    </div>
</div>

